<head>
  <!-- meta info -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Engineering Student Council | University of Virginia</title>
  <!-- core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <link href="/css/extra.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
</head>
<!--/head-->
<header id="header">
  <nav class="navbar navbar-inverse" id="main-navbar" role="banner">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><img style="width:200px" src="/images/ESC-logo-white.png" alt="UVA ESC"></a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
              <!-- About Us -->
              <li class="dropdown">
                  <a href="/about">About Us <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li><a href="/about/how-to-join">How to Join</a></li>
                      <li><a href="/about/executive-board">Executive Board</a></li>
                      <li><a href="/about/CIO">Engineering CIOs</a></li>
                      <li><a href="/about/alumni">Alumni</a></li>
                      <li><a href="/about/newsletter-archive">Past Newsletters</a></li>
                  </ul>
              </li>
              <!-- Committees -->
              <li class="dropdown">
                  <a href="#">Committees <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li><a href="/committees/academic-and-professional">Academic Development</a></li>
                      <li><a href="/committees/communications">Communications</a></li>
                      <li><a href="/committees/community-development">Community Development</a></li>
                      <li><a href="/committees/fundraising">Fundraising</a></li>
                      <li><a href="/committees/health-and-wellness">Health and Wellness</a></li>
                      <li><a href="/committees/marketing-and-advertising">Marketing and Advertising</a></li>
                      <li><a href="/committees/service-outreach">Service and Outreach</a></li>
                      <li><a href="/committees/study-abroad">Study Abroad Learning</a></li>
                      <li><a href="/committees/social">Social</a></li>
                      <li><a href="/committees/sustainability">Sustainability &amp; Infrastructure</a></li>
                      <li><a href="/committees/visitation-and-recruitment">Visitation and Recruitment</a></li>
                      <li><a href="/committees/web-and-tech">Web and Technology</a></li>
                  </ul>
              </li>
              <!-- Events -->
              <li class="dropdown">
                  <a href="#">Events <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li><a href="/events/engineers-week">Engineer's Week</a></li>
                      <li><a href="/events/engineering-expo">Engineering Expo</a></li>
                      <li><a href="/events/trick-or-treat">Trick-or-Treat On The Lawn</a></li>
                      <li><a href="/events/fall-carnival">Fall Carnival</a></li>
                      <li><a href="/events/pi-miler">Pi Miler</a></li>
                  </ul>
              </li>
              <!-- Initiatives -->
              <li class="dropdown">
                  <a href="#">Initiatives <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="/initiatives/seas-180-year-anniversary">SEAS 180-Year Anniversary</a>
                      </li>
                      <li>
                          <a href="/initiatives/stacks-re-design">Stacks Re-Design</a>
                      </li>
                      <li>
                          <a href="/initiatives/science-olympiad-state-tournament">Science Olympiad</a>
                      </li>
                      <li>
                          <a href="/initiatives/student-taught-classes">Student-Taught Classes</a>
                      </li>
                  </ul>
              </li>
              <!-- Ongoing Programs -->
              <li class="dropdown">
                  <a href="#">Ongoing Programs <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="/programs/travel-and-activities-fund">Travel and Activities Fund</a>
                      </li>
                      <li>
                          <a href="/programs/take-your-professor-out-to-lunch">Take A Professor To Lunch</a>
                      </li>
                      <li>
                          <a href="/programs/tours">SEAS Tours</a>
                      </li>
                  </ul>
              </li>
              <!-- Store -->
              <li> 
                  <a href="/store">Store</a>
              </li>
              <li> 
                  <a href="/contact">Contact Us</a>
              </li>
              <!-- Contact -->
              <!-- <li> -->
                  <!-- <a href="contact">Contact</a> -->
              <!-- </li> -->
              <!-- Newsletter -->
              <!-- <li> -->
                  <!-- <a href="newsletter"><b>Newsletter</b></a> -->
              <!-- </li> -->
              <!-- Social Media Outlets -->
              <li>
                  <div class="social">
                      <ul class="social-share">
                          <li><a href="https://www.facebook.com/uvaesc"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://www.instagram.com/uvaesc"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </li>
          </ul>
      </div>
  </nav>
  <!--/nav-->
</header>
<!--/header-->